<div class="hsSearch">
  <h5>Search</h5>
  <form novalidate ng-submit="search(blog)">
    <label name="name">Blog Name</label>
    <input ng-model="blog.name" type="text" name="name" />
    <label name="tag">Tag</label>
    <input ng-model="blog.tag" type="text" name="tag" />
    <input type="submit" value="Search" />
  </form>
  <h5 ng-if="results.posts.length > 0">Results</h5>
  <div ng-repeat="post in results.posts">
    <div class="button button-clear hsSearch-postAction" ng-click="addPost(post)">Add</div>
    <hs-post post="post"></hs-post>
  </div>
</div>
